html{
	font-size: 10px;
	font-family: "Open Sans", sans-serif;
	background-color: #34ebcc;
}

body{
	width:1200px;
	margin: 0 auto;
	background-color: #c99222;
	padding: 0 10px 10px 10px;
	border: 4px solid black;
}

h1{
	margin: 0;
	padding: 20px 0;
	font-size: 24px;
	text-align: center;
	color: #1e2fe8;
	text-shadow: 2px 2px 1px black;
}

img{
	display: block;
	margin: 0 auto;
}

p, li{
	font-size: 10px;
	line-height: 2;
	letter-spacing: 1px;
}
